<div id="request-list-container">
  <div class="request-card" *ngIf="!filterService.isFilteredOut('In Bearbeitung')"> <!--TODO replace with real data-->
    <div class="request-card-image">
      <!--<img src="{{hotel.images[0]}}" width="100%">-->
    </div>
    <div class="request-card-text">
      <h3>Ausweisbeantragung</h3>
      <p>Datum der Antragstellung: 18.10.18</p>
      <p>Status: In Bearbeitung</p>
      <p>Bearbeitungs-ID: X5HJ85JKT</p>
    </div>
    <a class="request-card-btn btn-primary" routerLink="/request-details">Details</a>
  </div>

  <div class="request-card" *ngIf="!filterService.isFilteredOut('In Bearbeitung')">
    <div class="request-card-image">
      <!--<img src="{{hotel.images[0]}}" width="100%">-->
    </div>
    <div class="request-card-text">
      <h3>Wohnungsummeldung</h3>
      <p>Datum der Antragstellung: 09.11.18</p>
      <p>Status: In Bearbeitung</p>
      <p>Bearbeitungs-ID: X93JSB57M</p>
    </div>
    <a class="request-card-btn btn-primary" routerLink="/request-details">Details</a>
  </div>

  <div class="request-card" *ngIf="!filterService.isFilteredOut('Abgeschlossen')">
    <div class="request-card-image">
      <!--<img src="{{hotel.images[0]}}" width="100%">-->
    </div>
    <div class="request-card-text">
      <h3>Antrag neuer Reisepass</h3>
      <p>Datum der Antragstellung: 22.09.18</p>
      <p>Status: Abgeschlossen</p>
      <p>Bearbeitungs-ID: X74FJZF42I</p>
    </div>
    <a class="request-card-btn btn-primary" routerLink="/request-details">Details</a>
  </div>
</div>
