<div id="request-list-container">
  <ul>
    <li *ngFor="let request of data | requestsort" style="list-style-type: none">
        <div class="request-card" *ngIf="!filterService.isFilteredOut(request.state)">

          <div class="request-card-image">
            <!--<img src="{{hotel.images[0]}}" width="100%"> -->
          </div>

          <div class="request-card-text">
            <h3>{{request.type}}</h3>
            <p>Datum der Antragstellung: {{request.date_formatted}}</p>
            <p>Status: {{request.state}}</p>
            <p>Bearbeitungs-ID: {{request.request_id}}</p>
          </div>

        <a class="request-card-btn btn-primary" (click)="show_details(request.request_id)">Details</a>
        </div>
      </li>
  </ul>
