<div id="new-request-container">
  <h1>Neuen Antrag erstellen</h1>

  <p>Kategorie:</p>
  <select id="select-category" title="" [(ngModel)]="selectedCategory">
    <option *ngFor="let request of possibleRequests;let index=index" value="{{index}}">{{request.type}}</option>
  </select>

  <div class="request-card">
    <h2>{{possibleRequests[selectedCategory].longname}}</h2>

    <div *ngFor="let question of questionData;let index = index;">
      <div class="request-card-text" *ngIf="possibleRequests[selectedCategory].isQuestionActive[index]">
        <p *ngIf="!(question.name === 'signature')"><span>{{question.longname}}</span>
        <input [(ngModel)]="dataModel[index]" type="{{question.type}}" class="form-control" placeholder="---">
        </p>
        <p *ngIf="(question.name === 'signature')"> <span>{{question.longname}}</span>
          <canvas id="sign-canvas"></canvas>
        </p>
      </div>
    </div>
    <a class="request-card-btn btn-primary" (click)="submitButtonListener()">Antrag stellen</a>
  </div>

</div>
