#new-request-container {
  margin-top: 80px;
  position: absolute;
  width: 80%;
  margin-left: 10%;

  & > p {
    display: inline-block;
    margin-right: 12px;
  }
}

.request-card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.request-card > h2 {
  overflow: auto;
}

.request-card-text > p > span {
  display: inline-block;
  width: 250px;
}

.request-card-text > p > input {
  width: 100%;
}

.request-card-btn {
  font-size: large;
  text-align: center;
  margin-top: 16px;
  text-decoration: none;
}

#sign-canvas {
  width: 100%;
  height: 150px;
  margin-left: 50%;
  background-color: #fff;

  transform: translateX(-50%);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  #sign-canvas {
    width: 55%;
  }

  .request-card {
    flex-direction: column;
  }

  .request-card-text {
    flex-grow: 1;
    margin-left: 16px;
    overflow-y: auto;
  }

  .request-card-text > p > input {
    width: 40%;
  }

  .request-card-btn {
    align-self: flex-end;
    margin: 8px;
    padding: 12px 18px;
  }
}
