@import "../../../assets/css/colors";

#filters {
  margin: 12px 5%;
  padding: 0;
  border: 1px solid $color-secondary;

  & > summary {
    cursor: pointer;
    padding: 8px 12px;

    & > h3 {
      display: inline;
    }
  }

  & > div > h3 {
    margin-bottom: 10px;
  }

  & > p {
    cursor: pointer;
    margin: 0;
    padding: 12px 12px;
  }

  & > p:hover {
    background: #EDEDED;
  }
}

#filter-distance > div {
  display: inline-block;
  width: 46%;
}

#filter-distance > div:last-child {
  margin-left: 8%;
}

// screen width > 768px
#filters.always-open {
  position: fixed;
  right: 0;
  height: calc(100% - 80px);
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0;
  width: 224px;

  & > summary {
    display: block;
    cursor: default;
  }
}
