#login-container {
  margin-top: 80px;
  position: absolute;
  width: 98%;
  height: calc(100% - 80px);
  left: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login-id {
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  border: 1px solid grey;
  border-radius: 6px;
  max-width: 800px;
  width: 80%;
  cursor: pointer;
}

#login-id-image {
  height: 100%;
  width: 100%;
  background: url("../../../assets/images/id-card-solid.svg");
  background-repeat: no-repeat;
  //background-color: lightgrey;
  background-position: center;
}

#login-id-caption {
  width: 50%;
  text-align: center;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {

  #login-id {
    flex-direction: row;
  }

  #login-id-image {
    width: 50%;
  }

  #login-container {
    margin-top: 100px;
    height: 78%;
    width: 70%;
    left: 15%;
  }
}


#loading-ring {
  //display: inline-block;
  width: 64px;
  height: 64px;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  display: none;
}
#loading-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #009;
  border-color: #009 transparent #009 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
