<div id="request-details-container">

  <h1 id="request-details-caption">Ausweisbeantragung</h1>

  <div id="request-details-person">
    <div>
      <h3>Antragsteller:</h3>
      <p>Name: John Doe</p>
      <p>Geburtsdatum: 20.11.1992</p>
      <p>Geburtsort: Berlin</p>
    </div>
    <!-- test image from https://www.flickr.com/photos/ter-burg/44772036772 -->
    <div id="person-image">
      <img src="../../../assets/images/profile-pic.jpg">
    </div>
  </div>

  <div id="request-details-status">
    <h3>Auftragsdetails:</h3>
    <p>Bearbeitungsstatus: In Bearbeitung</p>
    <p>Bearbeitungsnummer: X7HKD58H</p>
    <p>Bürgeramt: Berlin Mitte</p>
    <p>Kontaktperson: Frau Ines Müller</p>
    <p>Telefonnummer: 03055223344</p>
    <p>Zusätzliche Hinweise: keine</p>
  </div>

</div>
